@import "tailwindcss";


:root {
  --dark-bg: #2A2D31;
  --dark-gray: #383838;

  --blue: #339FFF;
  --white: #E4E5E7;
  --gray: #787D87;

  --red: #F07276;

  /* colors for tables and data */
  --turquoise: #5CE7DB;
  --purple: #C272F0;
  --yellow: #F9CF75;
}


@layer utilities {
  .dark-bg {
    background-color: var(--dark-bg);
  }

  /* text colors */
  .white-text {
    color: var(--white);
  }

  .blue-text {
    color: var(--blue);
  }

  .gray-text {
    color: var(--gray);
  }

  .gray-dark {
    color: var(--dark-gray);
  }

  .red-text {
    color: var(--red);
  }

  .purple-text {
    color: var(--purple);
  }

  .turquoise-text {
    color: var(--turquoise);
  }

  .yellow-text {
    color: var(--yellow);
  }

  .hover\:blue:hover {
    color: var(--blue);
  }

  .hover\:turquoise:hover {
    color: var(--turquoise);
  }

  .hover\:purple:hover {
    color: var(--purple);
  }

  .border-turquoise {
    border-color: var(--turquoise);
    box-shadow: 0 4px 10px 3px rgb(92, 231, 219, 0.25);
  }

  .border-purple {
    border-color: var(--purple);
    box-shadow: 0 4px 10px 3px rgb(194, 114, 240, 0.25);
  }

  .center-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blue-bg {
    background-color: var(--blue);
  }

  .blue-border {
    border-color: var(--blue);
  }

  .steps li {
    margin: 25px 0;
  }
}